.ld-input {
    font-family: var(--font-family-base);
    font-size: calc(var(--ld-font-family-base) + 8px);
    border: none;
    background: none;
    border-bottom: 1px solid var(--ld-color-gray-light);
    outline: none;
    transition: border-color .5s;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 32px;
}
.ld-input:focus {
    border-color: var(--ld-color-primary);
}

.ld-input::placeholder {
    color: var(--ld-color-gray-dark);
}